[submodule "install/001-zsh/oh-my-zsh"]
	path = install/001-zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "install/002-vim/dein/repos/github.com/Shougo/dein.vim"]
	path = install/002-vim/dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "install/004-tmux/tpm"]
	path = install/004-tmux/tpm
	url = https://github.com/tmux-plugins/tpm
